<div class="row">
  <div class="col-md-4  offset-md-4">
    <div class="form-content">
      <div class="form-items">
        <h1>Reset Password</h1>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input class="form-control" id="Username" type="text" placeholder="Username" [(ngModel)]="User.Username" disabled />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="SecurityQuestionAnswer1">{{User.SecurityQuestionDescription1}}</label>
              <input type="text" id="SecurityQuestionAnswer1" class="form-control" placeholder="SecurityQuestionAnswer1" [(ngModel)]="User.SecurityQuestionAnswer1" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="SecurityQuestionAnswer2">{{User.SecurityQuestionDescription2}}</label>
              <input type="text" id="SecurityQuestionAnswer2" class="form-control" placeholder="SecurityQuestionAnswer2" [(ngModel)]="User.SecurityQuestionAnswer2" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary" (click)="ResetPassword()">Reset Password</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
