<div class="row">
  <div class="col-md-4  offset-md-4">
    <div class="form-content">
      <div class="form-items">
        <h1>Change Password</h1>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input class="form-control" id="Username" type="text" placeholder="Username" [(ngModel)]="User.Username" disabled />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input class="form-control" id="Password" type="password" placeholder="Password" [(ngModel)]="User.Password" required />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input class="form-control" id="NewPassword" type="password" placeholder="New Password" [(ngModel)]="User.NewPassword" required />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <input class="form-control" id="ConfirmPassword" type="password" placeholder="Confirm Password" [(ngModel)]="User.ConfirmPassword" required />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-primary" (click)="Save()">Save</button>
          </div>
        </div>

        <!--<div class="row">
    <div class="col-md-12">
      <button class="btn btn-secondary" (click)="Test()">Test</button>
    </div>
  </div>-->
      </div>
    </div>
  </div>
</div>
